<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='style.css' />
  </head>
  <body>
    <body>
    <h1> Registration </h1>

<form action="/users" method="post" name ="RegistrationForm" novalidate id="RegistrationForm" > 
    <span id="SuccessMessage" style="color:green;"></span>
    <div>
        <label for ="Username">Username:</label>
        <input type="text" name="Username"  placeholder="Enter your username">
        <span id="usernameError" style="color:red;"> <%= locals.usernameError || "" %></span>
        
    </div>
    
    <div>
        <label for ="Email">Email:</label> 
        <input type="email"  name="'Email" novalidate placeholder="example@email.com">
        <span id="emailError" style="color:red;"> <%= locals.emailError || "" %></span>
        <!-- <span id="emailError" style="color:red;"></span> -->
    </div>

    <div>
        <label for ="Password">Password:</label>
        <input type="password" id="Password" placeholder="Enter your password">
        <span  id="passwordError" style="color:red;"></span>
    </div>

    <div>
        <label for ="ConfirmPassword">Password:</label>
        <input type='password' id="ConfirmPassword" placeholder="Enter your password again">
        <span id="confirmPasswordError" style="color:red;"></span>
    </div>
    <div>
    <input type="submit" id ='submit'value="Submit">
    <script src ="script.js"></script>
    </div>
</form>
</body>

  </body>
</html>
